img {
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
  }

.side{
    align-items: center;
}

.list{
  margin-top: 40px;
}

.button{
  border: 0ch;
  background-color: #89d6ba;
}

