.chart{
    height: 100%;
    width: 100%;
    text-align: center;
}



canvas{
    margin: 0 left;
    margin-left: 15%;
   
    
    }
span {
    display: inline-block;
    margin: 7%;
    margin-top: 5%;
}
.title{
   margin-left: 40%;
    font-family:arial;
    margin-top: 5%;
}
